{% extends 'base.html' %}


{% block content %}

    <div>
        <h3>Login</h3>
    </div>

    <form method="post">

        {% from 'bootstrap5/form.html' import render_form %}

        {{ context.form.csrf_token }}

        {{ render_form(context.form) }}


        <button type="submit" class="btn btn-primary btn-block">Login</button>
        <div class="container text-center">
            <p>Don't have an account</p>
            <a href="{{ url_for('auth.register') }}">Register</a>
        </div>

    </form>


{% endblock %}