{% extends 'base.html' %}


{% block content %}

<div class="container">

    <h1>Registration Page</h1>

    <form class="form text-center" method="post">
        <div class="form-group row mt-4">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-10">
            <input type="username" class="form-control" id="password" name="username">
          </div>
        </div>
        <div class="form-group row  mt-4">
            <label for="inputEmail3" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="password" name="password">
            </div>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">Register</button>
    </form>

    <div class="container mt-4">
        <div class="text-center">
            <p>Already have an account</p>
            <a href=" {{ url_for('auth.login') }} ">LogIn</a>      
        </div>
    </div>
    
</div>

{% endblock %}