{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8"> <!-- 2/3 of the width -->
        
        {% if context.post['user_id'] == g.user['user_id'] %}
        <div class="container text-end">
            <a href="{{ url_for('posts.update_post', id=context.post['post_id']) }}" class="btn btn-warning btn-block">Edit</a>
            <a href="{{ url_for('posts.delete_post', id=context.post['post_id']) }}" class="btn btn-danger">Delete</a>    
        </div>
        {% endif %}
        
        {% for category in categories %}
          {% if category['category_id'] == context.post['category_id'] %}
            <h4><span class="badge bg-primary">{{ category['name'] }}</span></h4>
          {% endif %}
        {% endfor %}  

        <h3>{{ context.post['title'] }}</h3>
        
        <p>{{ context.post['body'] }}</p>

        <p class="text-end font-weight-bold">{{ context.user }}</p>
        <p class="text-end">{{ context.post['created_at']}}</p>
      </div>
      <div class="col-md-4"> <!-- 1/3 of the width -->
        <h3>Comments</h3>
        <div class="container">
            <p>This section is used to store comments</p>
        </div>
      </div>
    </div>
  </div>
  
{% endblock %}
