{% extends 'users/profile.html' %}


{% block user_profile %}

<div class="container">
    <h3>Posts</h3>

    <div class="text-end mb-3">
        <a href="{{ url_for('posts.create_post', id=user.id)  }}" class="btn btn-primary">+ Create New Post</a>
    </div>

    <div class="continaer">
        <table class="table table-striped">
            <thead class="thead">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Content</th>
                    <th scope="col">Created At</th>
                    <th scope="col">View</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="container">
        {% for post in posts %}
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ post.title }}</td>
                    <td>{{ post.body }}</td>
                    <td>{{ post.created_at }}</td>
                    <td><a href="#">View</a></td>
                </tr>
            </tbody>
        </table>
        {% endfor %}


{% endblock %}
